<Config>
   <Language>DE</Language>
   <Index>/Users/swalter/Index/GermanIndexReduced</Index>
   <Input>test.txt</Input>
   <Output>/Users/swalter/Desktop/Resources</Output>
   <Endpoint>http://dbpedia.org/sparql</Endpoint>
   <WithSentences>True</WithSentences>
   <AdditionalOutput>True</AdditionalOutput>
</Config>
