<Config>
   <Language>EN</Language>
   <Index>/Users/swalter/Index/EnglishIndex</Index>
   <Input>../dbpedia_2014.owl</Input>
   <Output>/Users/swalter/Desktop/Resources</Output>
   <Endpoint>http://dbpedia.org/sparql</Endpoint>
   <WithSentences>False</WithSentences>
   <AdditionalOutput>False</AdditionalOutput>
</Config>
