
*.DS_Store

*.prefs

SentencePreprocessing/.classpath

*.prefs

matoll/.settings/org.eclipse.jdt.core.prefs

matoll/dbpedia_org_ontology_spouse.lex

matoll/Run_EN_P6_coref.eval

matoll/Run_EN_P6_coref.lex

*.lex

matoll/nbactions.xml

matoll/nb-configuration.xml
/nbproject/private/
*.log


matoll/run.sh

*.ttl
