<Config>
   <Language>EN</Language>
   <Coreference>True</Coreference>
   <GoldStandardLexicon>/Users/cimiano/GitHubSC/matoll/lexica/dbpedia_en.rdf</GoldStandardLexicon>
   <OutputLexicon>Run_EN_P6_coref.lex</OutputLexicon>
   <Output>Run_EN_P6_coref.eval</Output>
   <NumLexItems>1000</NumLexItems>
</Config>
